<div class="content">

<!-- Two -->
<section id="two" class="wrapper alt style2">
    <section class="spotlight">
        <div class="image"><img src="images/pic01.jpg" alt="" />
        </div><div class="content">
            <h2>Medicos especialistas<br />
            </h2>
            <p>Texto generico.</p>
        </div>
    </section>
    <section class="spotlight">
        <div class="image"><img src="images/pic02.jpg" alt="" />
        </div><div class="content">
            <h2>Remedios de Qualidade<br />
            </h2>
            <p>Mais Texto generico</p>
        </div>
    </section>
    <section class="spotlight">
        <div class="image"><img src="images/pic03.jpg" alt="" />
        </div><div class="content">
            <h2>Em Criação<br />
            Continua em criação</h2>
            <p>.</p>
        </div>
    </section>
</section>

<!-- Three -->
<section id="three" class="wrapper style3 special">
    <div class="inner">
        <header class="major">
            <h2>Faça parte da nossa comunidade</h2>
            <p>Aqui estao algums de nossos serviços</p>
        </header>
        <ul class="features">
            <li class="icon fa-paper-plane">
                <h3>Grupo no Telegram</h3>
                <p>Faça parte do nosso grupo do Telegram.</p>
            </li>
            <li class="icon solid fa-laptop">
                <h3>Site Bom</h3>
                <p>Veja como nosso site é foda.</p>
            </li>
            <li class="icon solid fa-code">
                <h3>Não faço ideia</h3>
                <p>kkkkkkkkkk</p>
            </li>
            <li class="icon solid fa-headphones-alt">
                <h3>otorrinolaringologista</h3>
                <p>Temos otorrino.</p>
            </li>
            <li class="icon fa-heart">
                <h3>Cardiologista</h3>
                <p>Temos Tambem menos pra mulheres( elas nn tem coração)</p>
            </li>
            <li class="icon fa-flag">
                <h3>Suporte 24h</h3>
                <p>Temos um suporte 24h para qualquer  tipo de atendimento, Consulte nossos planos</p>
            </li>
        </ul>
    </div>
</section>

<!-- CTA -->
<section id="cta" class="wrapper style4">
    <div class="inner">
        <header>
            <h2>Arcue ut vel commodo</h2>
            <p>Aliquam ut ex ut augue consectetur interdum endrerit imperdiet amet eleifend fringilla.</p>
        </header>
        <ul class="actions stacked">
            <li><a href="#" class="button fit primary">Activate</a></li>
            <li><a href="#" class="button fit">Learn More</a></li>
        </ul>
    </div>
</section>


</div>
